// CONSTANTS //

$unit: 16px;
$maxWidth: 60 * $unit;
$navSideWidth: 10 * $unit;

// @media screen and (min-width: 800px) and (max-width: 1023px) {
// 	$maxWidth: 48 * $unit;
// }
// @media screen and (min-width: 1024px){
// 	$maxWidth: 60 * $unit;
// }

$yellow: #EEEE55;
$darkGrey: #222222;
$lightGrey: #DDDDDD;
$veryLightGrey: #EEEEEE;
// $medGrey: ($lightGrey - $darkGrey) / 2 + $darkGrey;
$medGrey: mix($lightGrey, $darkGrey);
$borderGrey: lighten($medGrey, 25%);
$softWhite: rgba(#FFFFFF, 0.75);
// $softWhite: rgba(255,255,255,0.25);
$lightBlue: #33AAFF;
$blue: darken($lightBlue, 12.5%);
$panelBG: rgba(#CCCCCC, 0.5);
// $panelBG: rgba(204,204,204,0.5);