<% n = articles.length %>
<% if n > 0 %>
<% for entry in articles[0...n] %>
<div class="post">
	<article>
		<header>
			<h1><%= entry.title %></h1>
			<span class="author"><%= entry.author %></span>
			<span class="date"><%= entry.date %></span>
		</header>
		<section class="body">
			<%= entry.body %>
		</section>
	</article>
</div>
<% end %>
<% else %>
<div class="post"><h1>No Articles, sorry :(</h1></div>
<% end %>
