<% n = articles.length

if n > 0 then
	articles[0...n].each_with_index do |currentArticle, i| %>

<div class="post">
	<article>
		<header>
			<h1><%= currentArticle.title %></h1>
			<span class="author"><%= currentArticle.author %></span>
			<span class="date"><%= currentArticle.date %></span>
		</header>
		<section class="body">
			<%= currentArticle.body %>
		</section>
	</article>
</div>
<%	end
else %>
<div class="post"><h1>No Articles, sorry :(</h1></div>
<% end %>
