@import url(lib/font/ostrich/stylesheet.css);
@import url(lib/font/roboto/stylesheet.css);
html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  background: #eeeef8;
  min-height: 100%;
  font-family: "RobotoLight", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  min-width: 320px; }

#site {
  margin: 0 auto; }

#fadetop, #fadebottom {
  position: fixed;
  width: 100%;
  height: 32px;
  left: 0;
  z-index: 10; }

#fadetop {
  top: 0;
  background: url("../img/fade-top.png") 0 0 repeat-x; }

#fadebottom {
  bottom: 0;
  background: url("../img/fade-bottom.png") 0 0 repeat-x; }

a {
  color: #00b7ff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-family: "RobotoBold", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
  color: #333333; }

p {
  line-height: 1.5; }

dl dt {
  font-family: Cambria, serif;
  color: #333333; }
dl dd {
  margin: 16px 0 16px 0;
  font-family: "FreeSerif", "Baskerville", "Book Antiqua", georgia, serif;
  font-style: italic; }
  dl dd:before {
    margin-right: 16px;
    content: attr(data-word-class);
    color: #b5b5bf;
    font-size: 0.8em;
    font-style: normal;
    font-family: "RobotoBold", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 700; }

#panel header {
  padding: 24px 24px 0 24px;
  margin-bottom: 16px;
  text-align: center; }
  #panel header h1 a {
    height: 236px;
    display: block;
    position: relative;
    text-decoration: none;
    margin: 0 auto;
    width: 266px; }
    #panel header h1 a span.open {
      background-image: url("../img/brace-top.png");
      top: 0;
      margin: 0 auto; }
    #panel header h1 a span.close {
      background-image: url("../img/brace-bottom.png");
      bottom: 0;
      margin: 0 auto; }
    #panel header h1 a span.open, #panel header h1 a span.close {
      outline: none;
      width: 266px;
      height: 70px;
      display: block;
      position: absolute;
      z-index: 0;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
    #panel header h1 a span.logotype {
      display: block;
      position: absolute;
      top: 72px;
      z-index: 1; }
    #panel header h1 a span.top {
      font-family: "OstrichSansBold";
      font-weight: 400;
      font-size: 75px;
      line-height: 0.75;
      margin-left: 4px;
      margin-top: 8px;
      display: block; }
    #panel header h1 a span.bottom {
      display: block;
      letter-spacing: 5px;
      font-family: "RobotoLight", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-size: 26px;
      color: #666666; }
    #panel header h1 a:hover span.open {
      top: -10px; }
    #panel header h1 a:hover span.close {
      bottom: -10px; }
  #panel header p {
    font-family: "FreeSerif", "Baskerville", "Book Antiqua", georgia, serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    color: #666666;
    cursor: default;
    text-transform: lowercase;
    margin: 0; }
#panel nav {
  text-align: center; }
  #panel nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 24px; }
#panel footer {
  text-transform: lowercase;
  font-family: "FreeSerif", "Baskerville", "Book Antiqua", georgia, serif;
  cursor: default;
  color: #666666;
  line-height: 1.2;
  margin-top: 16px;
  font-style: italic; }

#container .pagetitle {
  margin: 0;
  padding-top: 32px;
  line-height: 1;
  color: #d0d0d7;
  font-family: "FreeSerif", "Baskerville", "Book Antiqua", georgia, serif;
  font-style: italic;
  text-transform: lowercase;
  cursor: default; }
#container .pagebody h2 {
  font-family: "RobotoBlack", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0; }
#container .pagebody ul {
  line-height: 1.5;
  margin: 0; }
  #container .pagebody ul.archives {
    list-style-type: none; }
#container .pagebody .date {
  color: #9999a8; }

.post {
  padding: 24px; }
  .post header h1 {
    letter-spacing: -1.5px;
    font-family: "RobotoBold", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  .post header .author {
    font-family: "RobotoBold", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #666666; }
    .post header .author:before {
      content: "by ";
      font-family: "RobotoLight", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-weight: 300;
      text-transform: lowercase; }
  .post header .date {
    font-family: "RobotoLight", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #666666; }
    .post header .date:before {
      content: " on ";
      font-family: "RobotoLight", "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-weight: 300;
      text-transform: lowercase; }
  .post .body p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .post .body img {
    display: block;
    margin: 0 auto; }

@media screen and (max-width: 639px) {
  dl dt {
    font-size: 32px; }

  #panel header p {
    text-align: center;
    margin-top: 24px; }
  #panel nav ul li {
    display: inline-block;
    margin: 0 8px; }
  #panel footer {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center; }

  #container .pagetitle {
    border-top: 1px solid #cccccc;
    font-size: 80px;
    padding-left: 24px;
    padding-top: 32px;
    margin-bottom: -12px;
    clear: both; }
  #container .pagebody {
    padding: 24px; }
    #container .pagebody h2 {
      font-size: 24px; }
    #container .pagebody ul {
      padding: 0 0 0 24px;
      margin: 0; }
    #container .pagebody .date {
      font-size: 12px; }

  .post {
    padding: 24px;
    border-top: 1px solid #cccccc; }
    .post header h1 {
      font-size: 24px; }
    .post header .author, .post header .date {
      font-size: 12px; }
    .post .body img {
      max-width: 100%; } }
@media screen and (min-width: 640px) {
  dl dt {
    font-size: 48px; }

  dl dd {
    font-size: 20px; }

  #panel header {
    padding: 4px 32px;
    margin-bottom: 16px; }
    #panel header h1 a {
      margin: 0 32px 16px 0;
      float: left; }
    #panel header p {
      margin-top: 64px;
      font-size: 24px;
      text-align: left; }
  #panel nav ul {
    text-align: left; }
    #panel nav ul li {
      display: inline-block;
      margin-right: 16px; }
  #panel footer {
    margin-bottom: 20px;
    text-align: left; }

  #container .pagetitle {
    border-top: 1px solid #cccccc;
    font-size: 128px;
    padding-left: 32px;
    margin-bottom: -16px;
    clear: both; }
  #container h2 {
    font-size: 32px; }
  #container .pagebody {
    padding: 32px; }
    #container .pagebody ul {
      font-size: 20px;
      padding: 0 0 0 32px; }
    #container .pagebody .date {
      font-size: 16px; }

  .post {
    clear: both;
    padding: 32px;
    border-top: 1px solid #cccccc; }
    .post header h1 {
      font-size: 32px; }
    .post header .author, .post header .date {
      font-size: 16px; }
    .post .body {
      font-size: 16px; }
      .post .body img {
        max-width: 480px; } }
@media screen and (min-width: 960px) {
  dl dt {
    font-size: 48px; }

  #site {
    max-width: 960px; }

  #panel {
    position: fixed;
    z-index: 20;
    width: 320px;
    height: 100%;
    border-right: 1px solid #cccccc;
    border-bottom: none;
    background: #eeeef8; }
    #panel header p, #panel footer {
      text-align: center; }
    #panel nav ul {
      text-align: center; }

  #container {
    margin-left: 321px; }
    #container .pagetitle {
      border-top: none; }

  .post {
    padding: 48px; }
    .post:first-child {
      border-top: none; }
    .post article header h1 {
      margin-top: 0; }
    .post img {
      max-width: 480px; } }
