// PANELS //

@import 'import/util';

@import 'import/constants';
@import 'import/mixins';

#ui-panels {
	@include flexbox($orient: horizontal, $pack: end, $align: end, $direction: reverse);

	position: fixed;
	bottom: 0;
	right: 0;
	// overflow-x: hidden;
	// padding: $unit 0 0 $unit;
	height: 0;
}

#ui-panels .panel {
	@include transition(all, 0.5s, cubic-bezier(0.25,0.75,0,1), 0s);
	// @include transition(top width opacity, 0.5s 0.5s 0.5s, cubic-bezier(0.25,0.75,0,1) cubic-bezier(0.25,0.75,0,1) ease-out, 0s 0s 0s);
	@include roundTop($unit / 4);

	margin-right: $unit;
	position: relative;
	bottom: -4 * $unit;
	opacity: 0;
	overflow-x: hidden;
	border: 1px solid $borderGrey;
	border-bottom: none;
	box-shadow: 0 4px $unit rgba(0,0,0,0.5);

	// &.minimized {
	// 	bottom: 23px !important;
	// }

	.titlebar {
		@include toolbar;
		@include roundTop($unit / 4);
		@include engrave($medGrey, $veryLightGrey);

		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.75 * $unit;
		user-select: none;
		cursor: default;
		padding: 0;
		text-align: center;
		// padding: ($unit / 4) 0 ($unit / 4) ($unit / 2);

		.title {
			display: inline-block;
			padding: ($unit / 4) ($unit / 2);
			text-align: center;
		}

		.close {
			padding: ($unit / 4) 0;
			width: 2 * ($unit / 4) + $unit;
			text-align: center;
			float: right;
			font-size: $unit;
			line-height: 0.75 * $unit;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $darkGrey;
			}
		}
	}
	.content {
		@include roundAll(0px);

		margin: 0;
		max-height: 16 * $unit;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 0.75 * $unit;
		border: none;

		p {
			margin: 0;
			padding: 0 ($unit);
			text-align: left;
		}
	}
}