@font-face {
	font-family: 'ProximaNova';
	src: url('typeface/ProximaNova/ProximaNova-Light.ttf');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('typeface/ProximaNova/ProximaNova-Reg.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('typeface/ProximaNova/ProximaNova-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}