// CONSTANTS //

$u: 16px
$minWidth: 20*$u
$maxWidth: 60*$u
$panelWidth: 20*$u
$small: 320px
$medium: 640px
$large: 960px

$columns: 12
$columnWidth: $maxWidth / $columns - $u

$blue: #00b7ff
$lightGrey: #eeeef8
$medGrey: #666666
$borderGrey: #cccccc
$slateBlue: #9999a8
$medSlateBlue: lighten($slateBlue, 10%)
$lightSlateBlue: lighten($slateBlue, 20%)
$textColor: #333333
